In [3]:
import pandas as pd

# Load the data from the Excel file (Time Series.xlsx)
file_path = "Time Series.xlsx"
df = pd.read_excel(file_path, engine='openpyxl')

In [4]:
df

,Name,Start,End,Activity
0,Priyanka,2023-10-10 22:43:52.620,2023-07-20 03:31:52.620,Inspection
1,Jyoti,2023-08-24 05:55:52.620,2023-05-17 20:19:52.620,Remote Inspection
2,Jyoti,2023-06-08 08:19:52.620,2023-04-08 05:55:52.620,Updates
3,Priyanka,2023-09-21 15:31:52.620,2023-05-27 10:43:52.620,Reporting
4,Priyanka,2023-10-07 03:31:52.620,2023-04-30 13:07:52.620,Reply to Customers
...,...,...,...,...
10880,Sharan,2023-04-27 20:19:52.620,2023-07-21 22:43:52.620,Reply to Customers
10881,Priyanka,2023-08-23 13:07:52.620,2023-08-11 10:43:52.620,Business Development
10882,Priyanka,2023-04-15 15:31:52.620,2023-06-29 15:31:52.620,Reporting
10883,Jyoti,2023-04-24 03:31:52.620,2023-06-16 20:19:52.620,Send Email
10884,Priyanka,2023-06-29 01:07:52.620,2023-08-13 08:19:52.620,Reply to Customers

In [7]:
df = pd.DataFrame(df)

In [9]:
# Convert 'Start' and 'End' columns to datetime data type
df['Start'] = pd.to_datetime(df['Start'])
df['End'] = pd.to_datetime(df['End'])

In [19]:
# Convert 'Start' and 'End' columns to datetime data type
df['Start'] = pd.to_datetime(df['Start'])
df['End'] = pd.to_datetime(df['End'])

In [21]:
# Filter data for specific bot names (Priyanka and Jyoti)
selected_bots = ['Priyanka', 'Jyoti']
df = df[df['Name'].isin(selected_bots)]

# Sort the data by 'Name' and 'Start' columns
df.sort_values(by=['Name', 'Start'], inplace=True)

In [22]:
# Initialize variables to track the continuous periods and activities
current_bot = None
start_time = None
end_time = None
aggregated_activities = []

In [23]:
# List to store the continuous periods
periods = []

In [24]:

# Helper function to append the current period and activities to the output list
def append_period():
    if current_bot is not None and start_time is not None:
        period = {'Name': current_bot, 'Start': start_time, 'End': end_time, 'Activities': aggregated_activities}
        periods.append(period)

In [25]:
# Iterate through the rows of the DataFrame
for _, row in df.iterrows():
    bot_name = row['Name']
    start_time_row = row['Start']
    end_time_row = row['End']
    activity = row['Activity']

In [29]:
    if bot_name != current_bot or (start_time_row - end_time).days > 30:
        append_period()
        current_bot = bot_name
        start_time = start_time_row
        aggregated_activities = [activity]
    else:
        # If it's the same bot and the time gap is within 30 days, update the end time and aggregate the activity
        end_time = end_time_row
        aggregated_activities.append(activity)

In [30]:
# Append the last period
append_period()

In [31]:
# Create a DataFrame from the output list of periods
result_df = pd.DataFrame(periods)

In [32]:
# Display the result
print(result_df)

       Name                   Start   End Activities
0  Priyanka 2023-10-15 15:31:52.620  None     [Call]